body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

* {
  box-sizing: border-box;
}

#demo-list,
#demo-wrap {
  padding: 8px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#demo {
  width: 304px;
  margin: 0 auto 20px auto;
}

.left-align {
  text-align: left;
}

a {
  text-decoration: none;
}

a.view-on-github {
  font-size: 0.9em;
}

h1 a:link,
h1 a:visited,
h2 a:link,
h2 a:visited {
  color: #073140;
}

h1 a:hover,
h1 a:active,
h2 a:hover,
h2 a:active {
  color: #0E627F;
}

a:link,
a:visited {
  color: #19B1E5;
}

a:hover,
a:active {
  color: #1CC5FF;
}
